* {
  margin: 0;
  padding: 0;
  color: white;
  /* background-color: black; */
  user-select: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
  background-image: url("https://unsplash.com/photos/BQTHOGNHo08");
}